<!DOCTYPE html>
<html>
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

</head>
<body>

<h2>Add Device</h2>

<div class="col-md-4">
  <form>
    <div class="form-group">
      <label>DeviceId</label>
      <input type="text"  name="deviceId" class="form-control"/>
    </div>
    <div class="form-group">
      <label>Location</label>
      <input type="text" name="location" class="form-control"/>
    </div>
    <button class="btn btn-primary" >Add</button>
    <!-- <button class="btn btn-primary" (click)="postData()">Add</button> -->
    
  </form>
</div>

</body>
</html>
