<div class="offset-2 col-8">
  <div style="float: right;margin-bottom: 20px;"><button class="btn btn-primary" >Add User</button></div>

  <table border="1" class="table table-bordered">
    <thead class="table-bordered">
    <tr style="background: #3CB371; color: #ECF0F1 " class="d-flex">
      <th class="col-3">
        UUID
      </th>
      <th class="col-3">Name</th>
      <th class="col-3">Email</th>
      <th class="col-3">&nbsp;</th>
    </tr>
    </thead>
    <tr *ngFor="let item of data" class="d-flex">
      <td style="background: white;size: 3px" class="col-3">{{item.id}} </td>
      <td style="background: white" class="col-3">{{item.name}}</td>
      <td style="background: white" class="col-3">{{item.email}}</td>
      <td class="col-4">
          <button class="btn btn-primary">Edit</button> |
        <button class="btn btn-primary">Delete</button>
     </td>
    </tr>
  </table>
  <nav aria-label="Page navigation example"  class="mr-3">
    <ul class="pagination">
      <li class="page-item pr-1" [(ngModel)]="pageIndex"><button (click)="getPreviousPage()" class="btn btn-primary rounded p-1">previous</button></li>
      <li class="page-item" [(ngModel)]="pageIndex"><button (click)="getNextPage()" class="btn btn-primary rounded p-1">next</button></li>
    </ul>
  </nav>

</div>

