<div class="offset-3 col-10">
  <button class="btn btn-success" style="margin-bottom: 20px;" (click)="showHideFilter()" >Filter</button>
<div style="margin: 20px;" *ngIf="filter">
  <form action="">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="name" class="form-control"/>
    </div>
    <div class="form-group">
      <label>email</label>
      <input type="text"  name="email" class="form-control"/>
    </div>
    <div class="form-group">
      <label>temperature</label>
      <input type="number"  name="temperature" class="form-control"/>
    </div>
    <div class="form-group">
      <label>From</label>
      <input type="date" name="from" class="form-control"/>
    </div>
    <div class="form-group">
      <label>To</label>
      <input type="date"  name="to" class="form-control"/>
    </div>
    <div style="float: right;"> 
      <button class="btn btn-primary" style="margin: 20px;">Apply</button>
      <button class="btn btn-primary" style="margin: 20px;">Clear</button>
    </div>    

  </form>

</div>

<table border="1" class="table table-bordered">
  <thead class="thead-light table-bordered">
  <tr class="d-flex">
    <th class="col-2">
      userId
    </th>
    <th class="col-3">Name</th>
    <th class="col-2">Temperature</th>
    <th class="col-2">Date</th>
    <th class="col-2">DeviceId</th>
    <th class="col-2">Location</th>
    <th class="col-2">&nbsp;</th>
  </tr>
  </thead>

  <tr *ngFor="let item of data" class="d-flex">
    <td class="col-2">
      {{item.userId}}
    </td>
    <td class="col-3">{{item.name}}</td>
    <td class="col-2">{{item.temperature}}</td>
    <td class="col-2">{{item.date}}</td>
    <td class="col-2">{{item.deviceId}}</td>
    <td class="col-2">{{item.location}}</td>
    <td class="col-2"> 
      <!-- <a routerLink="/dashboard/chart-by-user/{{item.userId}}" class="btn btn-primary" >View By Chart</a>       -->
      <a routerLink="/dashboard/chart-by-user" [queryParams]="{userId:item.userId,name:item.name}" class="btn btn-primary" >Detail</a>  
    </td>
  </tr>
</table>
<nav aria-label="Page navigation example" class="mr-3">
  <ul class="pagination">
    <li class="page-item pr-1" [(ngModel)]="pageIndex"><button (click)="getPreviousPage()" class="btn btn-primary">previous</button></li>
    <li class="page-item" [(ngModel)]="pageIndex"><button (click)="getNextPage()" class="btn btn-primary">next</button></li>
    
  </ul>
</nav>

<router-outlet></router-outlet>

</div>

