<table border="1" class="table table-bordered">
  <thead class="thead-light table-bordered">
  <tr>
    <th>
      userId
    </th>
    <th>name</th>
    <th>temperature</th>
    <th>timestamp</th>
    <th>deviceId</th>
    <th>location</th>
    <th>&nbsp;</th>
  </tr>
  </thead>

  <tr *ngFor="let item of data">
    <td>
      {{item.userId}}
    </td>
    <td>{{item.name}}</td>
    <td>{{item.temperature}}</td>
    <td>{{item.date}}</td>
    <td>{{item.deviceId}}</td>
    <td>{{item.location}}</td>
    <td>
      <a routerLink="/chart-by-user/{{item.userId}}" class="btn btn-primary" >View By Chart</a>
    </td>
  </tr>
</table>
<nav aria-label="Page navigation example" class="mr-3">
  <ul class="pagination">
    <li class="page-item pr-1" [(ngModel)]="pageIndex"><button (click)="getPreviousPage()" class="btn btn-primary">previous</button></li>
    <li class="page-item" [(ngModel)]="pageIndex"><button (click)="getNextPage()" class="btn btn-primary">next</button></li>
    
  </ul>
</nav>

<router-outlet></router-outlet>
